@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v21-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v21-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v49-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/roboto-v49-latin-600.woff2") format("woff2");
}

:root {
  --color-primary-dark: #011c44;
  --color-primary-light: #ffffff;
  --color-brand-dark: #4a4a4a;
  --color-brand-light: #2b7fff;
}

/* Base */
ul {
  list-style-type: none;
}

body {
  color: var(--color-primary-dark);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

address {
  font-style: normal;
}

/* Button */
.button {
  color: var(--color-primary-light);
  font-weight: 600;
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 32px;
  cursor: pointer;
}

.button:hover {
  color: var(--color-primary-dark);
  background-color: transparent;
}

/* Link */
.header-link {
  color: var(--color-primary-dark);
  text-decoration: none;
}

.header-link:hover {
  color: var(--color-brand-light);
}

.footer-link {
  color: var(--color-primary-light);
  font-size: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: var(--color-brand-light);
}

/* Hero section */
.hero-title {
  color: var(--color-brand-light);
  font-family: "Play", sans-serif;
  font-size: 140px;
  font-weight: 700;
  line-height: 114px;
  text-transform: capitalize;
}

.hero-text-last {
  color: var(--color-brand-dark);
  font-size: 12px;
  line-height: 18px;
}

/* Section title */
.section-title {
  font-family: "Play", sans-serif;
  font-size: 64px;
  font-weight: 700;
}

.section-title .accent {
  color: var(--color-brand-light);
}

.section-title .capitalize {
  text-transform: capitalize;
}

/* About us section */
.about-us-text {
  font-size: 22px;
  line-height: 38px;
}

.about-us-text .capitalize {
  text-transform: capitalize;
  font-weight: 600;
}

/* Why we section */
.why-we-text {
  line-height: 24px;
}

/* Our procedures section */
.our-procedures-text {
  font-size: 22px;
  line-height: 26px;
}

/* Footer */
.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  text-decoration: none;
}

.address-link:hover {
  color: var(--color-brand-light);
}

.address-copyright {
  font-size: 13px;
}
