@import "./utils/fonts";

@import "./utils/variables";

@import "./base";

@import "./utils/utils";

@import "./components/section-container";

@import "./components/buttons";

@import "./components/links";

@import "./components/header";

@import "./components/hero-section";

@import "./components/section-title";

@import "./components/wave";

@import "./components/about-us-section";

@import "./components/why-we-section";

@import "./components/our-procedures-section";

@import "./components/carousel";

@import "./components/contact-section";

@import "./components/footer";

@import "./components/modal";

@import "./components/form";
