@import "./utils/fonts";

@import "./utils/variables";

@import "./base";

@import "./utils/utils";

@import "./components/section-container";

@import "./components/buttons";

@import "./components/header";
@import "./layouts/header-icons";

@import "./components/hero-section";

@import "./components/section-title";

@import "./components/wave";

@import "./components/about-us-section";
@import "./layouts/texts";

@import "./components/why-we-section";
@import "./layouts/why-we-card";

@import "./components/our-procedures-section";
@import "./layouts/format-card";

@import "./components/carousel";

@import "./components/contact-section";

@import "./components/footer";

@import "./components/modal";

@import "./components/form";
