:root {
	--color-brand-light: #2b7fff;
	--color-brand-dark: #011c44;
	--color-primary-light: #ffffff;
	--color-primary-dark: #4a4a4a;
	--color-secondary-dark: #000;
	--color-secondary-light: #747272;
}