.about-us-section {
  position: relative;
  z-index: 1;
  padding: 0;

  @media screen and (min-width: $bp-desktop) {
    padding-bottom: 200px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 1905px;
    max-width: 200%;
    height: 1200px;
    background: url("../images/wave-bg.svg") no-repeat center top/cover;
    pointer-events: none;
    z-index: 2;
  }

  &__container {
    display: flex;
    gap: 28px;
  }

  &__title {
    margin-top: 0px;
    margin-bottom: 40px;
    max-width: 549px;

    @media screen and (min-width: $bp-desktop) {
      margin-top: 40px;
    }
  }

  &__photos {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: inline-block;
    }
  }

  &__image {
    border-radius: 328px;
  }

  &__text {
    margin-bottom: 40px;
    font-size: 22px;
    line-height: 38px;
    max-width: 844px;

    &--last {
      margin-bottom: 0;
    }
  }
}
