.button {
  display: block;
  color: var(--color-primary-light);
  padding: 16px 32px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 600;
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 32px;
  cursor: pointer;

  @media screen and (min-width: $bp-desktop) {
    display: inline-block;
    margin-bottom: 14px;
  }
}

.button:hover {
  color: var(--color-primary-dark);
  background-color: transparent;
}
