.contact-section {
  padding-bottom: 94px;

  &__container {
    display: flex;
    gap: 32px;
  }

  &__title {
    margin-bottom: 48px;
  }

  &__map {
    flex-shrink: 0;
    border: none;
    border-radius: 32px;
  }
}
