.contact-section {
  padding-bottom: 94px;
}

.contact-container {
  display: flex;
  gap: 32px;
}

.contact-title {
  margin-bottom: 48px;
}

.contact-map {
  flex-shrink: 0;
  border: none;
  border-radius: 32px;
}
