.contact-section {
  padding-bottom: 94px;

  &__container {
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 32px;
    }
  }

  &__title {
    margin-bottom: 48px;
  }

  &__map {
    flex-shrink: 0;
    height: 232px;
    margin: 0 -24px;
    border: none;
    border-radius: 32px;

    @media screen and (min-width: $bp-tablet) {
      margin: auto;
      width: 605px;
      height: 480px;
    }
  }
}
