.footer {
  position: relative;
  background-image: url("../images/footer-background.png");
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 56px 0px;

  @media screen and (min-width: $bp-tablet) {
    text-align: left;
  }

  &::after {
    position: absolute;
    width: 247px;
    height: 152px;
    bottom: 0;
    right: 0;
    background-image: url("../images/decor-bottles.png");
    background-repeat: no-repeat;
    content: "";

    @media screen and (max-width: $bp-tablet) {
      display: none;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      flex-basis: 50%;
    }
  }

  &__nav,
  &__address {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      flex-basis: 50%;
      text-align: left;
    }
  }

  &__logo {
    flex-grow: 1;
  }

  &__menu {
    flex-grow: 1;
  }

  &__link {
    color: var(--color-primary-light);
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 16px;

    &:hover {
      color: var(--color-brand-light);
      transition: color 0.3s;
    }
  }

  &__list {
    flex-grow: 1;

    @media screen and (max-width: $bp-tablet) {
      display: none;
    }
  }

  &__info {
    flex-grow: 1;
  }

  &__address-information {
    flex-grow: 1;
  }

  &__contact {
    color: var(--color-primary-light);
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 16px;

    &:hover {
      color: var(--color-brand-light);
      transition: color 0.3s;
    }
  }

  &__icon {
    fill: var(--color-primary-light);

    &:hover {
      fill: var(--color-brand-light);
    }
  }

  &__icons {
    display: flex;
    flex-direction: row;
    gap: 24px;

    @media screen and (max-width: $bp-tablet) {
      justify-content: center;
    }
  }

  &__copyright {
    font-size: 13px;
    color: var(--color-brand-dark);
    margin: 0;
  }
}
