.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  z-index: 999;
  background: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(5px); /* для Safari */
  backdrop-filter: blur(5px);
}

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 100%;
  max-width: 1728px;
  margin: 0 auto;
  padding: 0 24px;
}

.header-nav {
  display: flex;
  flex-grow: 1;
}

.header-menu {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  gap: 56px;
}

.header-icons {
  display: flex;
}

.header-icons-menu {
  display: flex;
  gap: 32px;
}

.header-icon {
  fill: var(--color-primary-dark);
}

.header-icon:hover {
  fill: var(--color-brand-light);
}
