.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  z-index: 999;

  @media screen and (min-width: $bp-desktop) {
    padding: 42px 0 42px 0;
    -webkit-backdrop-filter: blur(5px); /* для Safari */
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.25);
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 40px;
    width: 100%;
    max-width: 1728px;
    margin: 0 auto;
    padding: 0 24px;
  }

  &__nav {
    display: flex;
    flex-grow: 1;
  }

  &__menu {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      gap: 56px;
    }
  }

  &__link {
    color: var(--color-primary-dark);
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: var(--color-brand-light);
    }
  }

  &__burger {
    background-color: transparent;
    border: none;
    fill: var(--color-primary-light);
    padding: 0;

    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }
}
