.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  z-index: 999;
  background: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(5px); /* для Safari */
  backdrop-filter: blur(5px);

  &__container {
    display: flex;
    align-items: center;
    gap: 40px;
    width: 100%;
    max-width: 1728px;
    margin: 0 auto;
    padding: 0 24px;
  }

  &__nav {
    display: flex;
    flex-grow: 1;
  }

  &__menu {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 56px;
  }

  &__link {
    color: var(--color-primary-dark);
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: var(--color-brand-light);
    }
  }
}
