.header-link {
  color: var(--color-primary-dark);
  text-decoration: none;
  transition: color 0.3s;
}

.header-link:hover {
  color: var(--color-brand-light);
}

.footer-link {
  color: var(--color-primary-light);
  font-size: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: var(--color-brand-light);
  transition: color 0.3s;
}
