.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background: rgba(1, 31, 74, 0.4);
  z-index: 9999;
  transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 723px;
  height: 100%;
  max-height: 681px;
  padding: 42px 144px;
  background-color: var(--color-primary-dark);
  border-radius: 48px;
  overflow: auto;
}

.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
}
