.our-procedures-section {
  &__container {
    display: flex;
    gap: 32px;
    align-items: center;
  }

  &__title {
    margin-bottom: 48px;
  }

  &__list {
    display: flex;
    gap: 16px;
    padding: 0;
  }
}
