.our-procedures-section {
  &__slider {
    display: flex;
    gap: 32px;
    align-items: center;
  }

  &__list {
    margin-bottom: 32px;
  }

  &__title {
    margin-bottom: 48px;
  }

  &__container {
    overflow: hidden;
  }

  &__button {
    display: none !important;

    @media screen and (min-width: $bp-tablet) {
      display: flex !important;
    }
  }
}
