.our-procedures-container {
  display: flex;
  gap: 32px;
  align-items: center;
}

.our-procedures-title {
  margin-bottom: 48px;
}

.format-list {
  display: flex;
  gap: 16px;
  padding: 0;
}

.formats-item {
  flex-basis: calc(100% / 3);
}

.format-card {
  height: 456px;
  background: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.73) 84.61%,
    #011c44 101.39%
  );
  padding: 372px 77px 32px 115px;
  border: 1px solid lightgray;
  border-radius: 4px 120px;
  transition: transform 0.3s;
}

.format-card:hover {
  transform: scale(1.05);
}

.our-procedures-text {
  max-width: 152px;
  color: var(--color-primary-light);
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
