.section-title {
  font-family: "Play", sans-serif;
  font-size: 64px;
  font-weight: 700;
}

.section-title .accent {
  color: var(--color-brand-light);
}

.section-title .capitalize {
  text-transform: capitalize;
}

.section-title.centered {
  text-align: center;
}
