.wave-wrapper {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  margin-top: -100px; /* підбирай під свій макет */
}

.wave {
  display: block;
  width: 100%;
  height: 120px; /* регулюй під себе */
}
