.why-we-section {
  position: relative;
  z-index: 1;
  padding-top: 160px;
}

.why-we-title {
  margin-bottom: 48px;
}

.why-we-list {
  display: flex;
  gap: 56px;
  justify-content: center;
}

.why-we-card {
  border-radius: 32px;
  background: var(--color-primary-light);
  padding: 24px 32px;
}

.why-we-icon {
  fill: var(--color-brand-light);
}

.why-we-icon-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 8px;
}

.why-we-text {
  line-height: 24px;
  text-align: center;
  max-width: 252px;
}
