.why-we-section {
  position: relative;
  z-index: 1;
  padding-top: 160px;

  &__title {
    margin-bottom: 48px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 56px;
    justify-content: center;

    @media screen and (min-width: $bp-desktop) {
      flex-direction: row;
    }
  }
}
