.footer {
  position: relative;
  background-image: url('../images/footer-background-image.png');
  background-color: var(--color-brand-dark);
  padding: 56px 0;
}

.footer::after {
  position: absolute;
  width: 247px;
  height: 152px;
  bottom: 0px;
  right: 0;
  background-image: url(..//images/decor-medications.png);
  content: '';
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-address {
  flex-basis: 50%;
  display: flex;
  flex-grow: 1;
  gap: 20px;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
}

.address-list,
.address-info {
  flex-grow: 1;
}

.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-style: normal;
  text-decoration: none;
  transition: color 0.3s;
}

.address-link:hover {
  color: var(--color-brand-light);
}

.address-icon {
  fill: var(--color-primary-light);
  transition: fill 0.3s;
}

.address-icon:hover {
  fill: var(--color-brand-light);
}

.address-copyright {
  color: var(--color-secondary-light);
  font-size: 13px;
  font-style: normal;
}
