.format-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;

  height: 416px;
  width: 320px;
  background: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.73) 84.61%,
    #011c44 101.39%
  );
  padding: 372px 77px 32px 115px;
  border: 1px solid lightgray;
  border-radius: 4px 120px;
  overflow: hidden;

  @media screen and (min-width: $bp-tablet) {
    height: 456px;
    width: 320px;
  }

  &__image {
    position: absolute;
    object-fit: cover;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__text {
    max-width: 152px;
    color: var(--color-primary-light);
    font-size: 22px;
    line-height: 26px;
    text-align: center;
  }
}
