.header-icons {
  display: none;

  @media screen and (min-width: $bp-desktop) {
    display: flex;
  }

  &__menu {
    display: flex;
    gap: 32px;
  }

  &__img {
    fill: var(--color-primary-dark);

    &:hover {
      fill: var(--color-brand-light);
    }
  }
}
