.why-we-section {
  padding: 88px 0 48px 0;

  &__title {
    margin-bottom: 48px;
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 56px;
  }
}

.format-text {
  align-items: center;
  color: var(--color-secondary-dark);
  line-height: 24px;
}
